.full-page {
  min-height: 100vh;
  min-width: 100vw;
}
.header {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 5vw;
  background-color: #badadf;
}
.header-container {
  /*display: flex;*/
}

.header-container-menu {
  /*display: flex;*/
  width: 33.33%;
  /*height:  5vh;*/
}

.logo {
  display: flex;
  justify-content: center;
}

.body {
}
.logo-img {
  max-width: fit-content;
}
